@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply font-sans text-gray-900;
  }

  ::selection {
    @apply bg-violet-200 text-violet-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
